.navBar {
    display: none;
    width: 200px;
    position: fixed;
    top: 70px;
    border: 0;

    @include respond-from ('sm') {
        display: flex;
        flex-direction: column;
        left: 8vw;
    }
    @include respond-from ('md') {
        left: 15vw;
    }

    @include respond-from ('xl') {
        left: 22vw;
    }
    @include respond-from ('xxl') {
        left: 25vw
    }

    .imgBtn {
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 8px;
        padding: 8px 0px;
        // color: var(--mui-palette-text-primary);
    }
}