# Игнорировать папку node_modules
node_modules/

# Игнорировать файл .env (содержит чувствительные данные)
.env

# Игнорировать папку dist (скомпилированные файлы TypeScript)
dist/

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать настройки IDE (если используешь)
.vscode/
.idea/

# Игнорировать файлы пакетов (если есть)
package-lock.json
yarn.lock