.post{
    .person{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 0 10px 0;
        margin: 0 20px 0 20px;
    }

    .mainContent {
        padding: 20px;
        padding-top: 10px;

        .image {
            width: 100%;

            img{
                width: 100%;
                height: auto;
                max-height: 70vh;
                object-fit: cover; 
                object-position: center; 
            }
        }

        .title {
            margin: 0;
        }

        .message {
            margin: 5px 0 10px 0;
        }  

        .likes, .comments {
            display: flex;
            gap: 2px;
            align-items: center;
            font-size: 16px;
            :hover{
                cursor: pointer;
            }
        }
    }

    
}